body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiFormControl-root.makeStyles-textField-8.MuiFormControl-fullWidth {
  padding: 10px 30px;
}
label#gender,label#language {
  margin-left: 35px;
  margin-top: 10px;
}

.image_food {
  max-width:500px;
  max-width:500px;
}
.makeStyles-content-3>button{
  padding:10px;
  color:black;
  border:1px solid black;
  background:#fff;
  margin-top:10px;
}